<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>bleTones</string>
    <key>CFBundleDisplayName</key>
    <string>bleTones</string>
    <key>CFBundleIdentifier</key>
    <string>com.chrisfromthepast.bletones</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0.0</string>
    <key>NSBluetoothAlwaysUsageDescription</key>
    <string>bleTones uses Bluetooth to detect nearby BLE devices and generate music from their signals.</string>
</dict>
</plist>
